@keyframes dotScroll {
  0% {
      background-position-y: 140px
  }

  to {
      background-position-y: 0
  }
}

html {
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  font-family: Google Sans Text,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,"Apple Color Emoji","Segoe UI Emoji",Segoe UI Symbol,"Noto Color Emoji";
  font-feature-settings: normal;
  font-variation-settings: normal;
  position: relative;
  scroll-padding: 2rem;
  scroll-behavior: smooth;
  --tw-bg-opacity: 1;
  background-color: rgb(16 21 29 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(128 140 156 / var(--tw-text-opacity));
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

body {
  margin: 0;
  line-height: inherit;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: #2d2d2d;
}

::-webkit-scrollbar-thumb {
  background-color: #505050;
}

@media (prefers-contrast: more) {
  ::-moz-selection {
      --tw-text-opacity: 1;
      color: rgb(255 255 255 / var(--tw-text-opacity))
  }

  ::selection {
      --tw-text-opacity: 1;
      color: rgb(255 255 255 / var(--tw-text-opacity))
  }
}

main {
  --dot-size: 1.25px;
  width: 100%;
  
}

@media (min-width: 768px) {
  main {
    margin-left: 7%;
  }
}
@media (min-width: 640px) {
  main {
      --dot-size: 2px
  }
}

main:after {
  content: "";
  animation: dotScroll 16s linear infinite;
  background-image: radial-gradient(circle,#2e3c51 var(--dot-size),transparent 0);
  background-size: calc(14.2857142857% - 1px) 100px;
  background-position: -60px 0;
  width: 100%;
  margin-right: auto;
  margin-left: auto
}

#terminal main:after {
  pointer-events: auto;
  position: relative;
  max-width: 640px;
  --tw-bg-opacity: 1;
  background-color: rgb(22 30 41 / var(--tw-bg-opacity))
}

@media (prefers-contrast: more) {
  #terminal main:after {
      --tw-border-opacity: 1;
      border-color: rgb(128 140 156 / var(--tw-border-opacity));
      --tw-bg-opacity: 1;
      background-color: rgb(16 21 29 / var(--tw-bg-opacity))
  }
}

@media (min-width: 768px) {
  #terminal main:after {
      border-top-left-radius:.5rem;
      border-top-right-radius: .5rem
  }

  #terminal main:after:before {
      content: "";
      background: linear-gradient(133.61deg,#a87ffb 17.33%,#25a6e9 100.47%);
      opacity: .5;
      pointer-events: none;
      position: absolute;
      left: 5rem;
      right: 5rem;
      top: .5rem;
      bottom: 0;
      z-index: -10;
      transform: translate3d(var(--tw-translate-x),var(--tw-translate-y),0) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
      --tw-blur: blur(64px);
      filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
      transition: opacity .5s ease
  }

  #terminal main:after:after {
      content: "";
      background: linear-gradient(to right,#2E3C51 0%,#2E3C51 34%,#2E3C51 49%,#fff 57%,#fff 64%,#A87FFB 66%,#25A6E9 100%);
      background-size: 300% 100%;
      background-position: 0% 50%;
      background-repeat: no-repeat;
      transition: background-position .8s ease;
      inset: -1px;
      border-top-left-radius: 9px;
      border-top-right-radius: 9px;
      pointer-events: none;
      position: absolute;
      z-index: -10;
      transform: translate3d(var(--tw-translate-x),var(--tw-translate-y),0) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
  }

  @media screen and (prefers-reduced-motion: no-preference) {
      #terminal.is-nudging main:after:after,#terminal:hover main:after:after {
          animation: .7s pulseshimmer 1s cubic-bezier(.8,0,.2,1) infinite alternate;
          animation-fill-mode: backwards
      }

      @keyframes pulseshimmer {
      }

      #terminal.is-nudging main:after {
          transform: translateY(0);
          animation: .7s pulsepeek .4s ease-in-out infinite alternate
      }

      @keyframes pulsepeek {
      }

      #terminal.is-nudging main:after:before {
          opacity: .8
      }

      #terminal.is-nudging main:after:after {
          background-position: 100% 50%
      }

      #terminal:hover main:after {
          transform: none;
          animation: none
      }

      #terminal:hover main:after:before {
          opacity: 1
      }

      #terminal:hover main:after:after {
          background-position: 100% 50%
      }
  }
}

.terminal-open #terminal main:after {
  animation: none
}

.terminal-open #terminal main:after:before {
  opacity: 0
}

.terminal-open #terminal main:after:after {
  animation: none;
  opacity: 1;
  background: none;
  --tw-bg-opacity: 1;
  background-color: rgb(46 60 81 / var(--tw-bg-opacity))
}

main:after {
  position: absolute;
  inset: 0;
  z-index: -10
}

.terminal-open main:after {
  animation-play-state: paused
}

@media (prefers-reduced-motion) {
  main:after {
      animation: none
  }
}

@media (min-width: 768px) {
  main:after {
      background-size:calc(8.3333333333% - 1px) 140px
  }
}
